<main>
    <div >
        <h1>ACCOUNT PAGE :D</h1>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Profile data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>First name: {{currentUser.firstName}}</p>
                <p>Last name: {{currentUser.lastName}}</p>
                <p>Email: {{currentUser.email}}</p>
                <p>Phone number: {{currentUser.phoneNumber}}</p>
            </mat-card-content>
        </mat-card>
    </div>

</main>
