<main>
    <div >
        <h1>Fiók</h1>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Fiók adatok</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Vezetéknév: {{currentUser.firstName}}</p>
                <p>Keresztnév: {{currentUser.lastName}}</p>
                <p>Email: {{currentUser.email}}</p>
                <p>Telefonszám: {{currentUser.phoneNumber}}</p>
            </mat-card-content>
        </mat-card>
    </div>

</main>
