<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <h2>Bejelentkezes</h2>
  </div>
  <div>
    <label class="column" for="email">Email</label>
    <input class="column" type="email" id="email" placeholder="emailcim@email.hu" formControlName="email">
  </div>
  <div>
    <label class="column" for="password">Password</label>
    <input class="column" type="password" id="password" autocomplete="on" placeholder="Jelszo" formControlName="password">
  </div>
  <div>
    <input class="column" type="submit" value="Bejelentkezes">
    <input class="column" type="button" value="Vissza" (click)="onCancel()">
  </div>
</form>
