//
main{
    height: 100%;
    padding-top: 50px;
}
form {
    position: relative;
    margin: 0 auto;
    width: 50%;
    align-self: center;
    height: auto;
    display: grid;
    padding:0;
}
h2{
    margin:0 auto;
}


mat-form-field {
    display: inline-grid;
    margin: 10px auto;
    align-self: center;
    width: 50%;

}
main div{
    margin: 10px auto;
    align-self: center;
    width:50%;
    display: inline-flex;
}
button{
    margin: 0 auto;
    width:20%;
    padding:0;
    //min-width: 60px;
}
