<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu [loggedIn]="loggedInUser!==null" (onCloseSideNav)="closeSideNav($event, sidenav)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button fxHide.gt-sm>
                <mat-icon (click)="onSidenav(sidenav)">menu</mat-icon>
            </button>
            <div>Szonyeg Webshop</div>
            <div id="menu" fxFlex  fxLayout fxLayoutAlign="flex-end" fxHide.lt-md >
                <ul fxLayout fxLayoutAlign="flex-end">
                    <li routerLink="/main">Main</li>
                    <li routerLink="/shop">Shop</li>
                    <li routerLink="/cart">Cart</li>
                    <li routerLink="/login" *ngIf="!(loggedInUser!==null)">Log in</li>
                    <li (click)="onLogout()" *ngIf="(loggedInUser!==null)">Log out</li>
                    <li routerLink="/registration" *ngIf="!(loggedInUser!==null)">Register</li>
                    <li routerLink="/account">Account</li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>



