h1{
  margin: 25px auto;
  position: relative;
  width: 100%;
  text-align: center;
}
p{
  text-align: center;
}
#addComment{
    width:auto;
    height:200px;
    margin:10px 50px;
}
#addComment mat-form-field{
    width:30%;
}
#addComment input{
    width:100%;

}
#addComment mat-label{
    width:100%;
}
#addComment button{
    width:100px;
}
#comments{
    width: auto;
    padding:0;
    height: auto;
    margin: 10px 50px;
}
#comments div{
    align-content: center;
    margin: 0;
    width:100%;
    height: 100%;
}
#comments mat-card{
    width:200px;
    height: 200px;
    margin: 10px auto;
}

