<main>
    <div>
        <h1>Kosár</h1>
        <div  fxLayout="row wrap" fxLayoutGap="20px" >
            <mat-card *ngFor="let obj of carpetArray" >

                <mat-card-header>
                    <mat-card-title>{{obj.name}}</mat-card-title>
                </mat-card-header>

                <mat-card-content fxLayout="column">
                    <img mat-card-image [src]="obj.imageUrlFS">
                    <p>Ár: {{obj.price}} Ft </p>
                    <p>Szélesség: {{obj.width}} cm</p>
                    <p>Magasság: {{obj.height}} cm</p>
                </mat-card-content>

                <mat-card-actions fxLayout>
                    <button (click)="removeButton(obj)" color="accent" mat-raised-button>Törlés</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</main>

