<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <h2>Registration form</h2>
  </div>
  <div>
    <label [ngClass]="'column'" for="lastName">Vezeteknev</label>
    <input formControlName="lastName" [ngClass]="'column'" type="text" id="lastName" placeholder="Vezeteknev">
  </div>
  <div>
    <label [ngClass]="'column'" for="firstName">Keresztnev</label>
    <input formControlName="firstName" [ngClass]="'column'" type="text" id="firstName" placeholder="Keresztev">
  </div>
  <div>
    <label [ngClass]="'column'" for="email">Email</label>
    <input formControlName="email" [ngClass]="'column'" type="email" id="email" placeholder="emailcim@email.hu">
  </div>
  <div>
    <label [ngClass]="'column'" for="phoneNumber">Phone number</label>
    <input formControlName="phoneNumber" [ngClass]="'column'" type="tel" id="phoneNumber" placeholder="70/1234567">
  </div>
  <div>
    <label [ngClass]="'column'" for="password">Password</label>
    <input formControlName="password" [ngClass]="'column'" autocomplete="off" type="password" id="password" placeholder="Jelszo">
  </div>
  <div>
    <label [ngClass]="'column'" for="passwordRepeat">Password again</label>
    <input formControlName="passwordRepeat" [ngClass]="'column'" autocomplete="off" type="password" id="passwordRepeat" placeholder="Jelszo ujra">
  </div>
  <div>
    <input [ngClass]="'column'" type="submit" value="Ok">
    <input (click)="onCancel()" [ngClass]="'column'" type="button" value="Vissza" >
  </div>
</form>

